{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container pb-5 mb-4 mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="h4">رمز عبور خود را فراموش کرده اید؟</h2>
            <p>رمز عبور خود را در سه مرحله آسان تغییر دهید. این به حفظ رمز عبور جدید شما کمک می کند.</p>
            <ol class="list-unstyled">
              <li><span class='font-weight-medium text-accent'>۱. </span> آدرس ایمیل خود را در زیر وارد کنید.</li>
              <li><span class='font-weight-medium text-accent'>۲. </span> ما یک کد موقت به شما ایمیل می کنیم.</li>
              <li><span class='font-weight-medium text-accent'>۳. </span> از کد برای تغییر رمز عبور خود در وب سایت استفاده کنید.</li>
            </ol>
            <form class="wizard needs-validation" method="post"> 
                {% csrf_token %}
              <div class="wizard-body pt-4">
                <label for="email-for-pass">آدرس ایمیل خود را وارد کنید</label>
                {% render_field form.email class="form-control" type="email" required="required" id="email-for-pass" %}
                {% for error in form.email.errors %}
                        <div class="mt-2 text-danger">{{error}}</div>
                {% endfor %}
              </div>
              <div class="wizard-footer py-3">
                <button class="btn btn-primary" type="submit">دریافت رمز جدید</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}