{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="container mb-3 mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6 pb-5">
            <h3 class="h4 pb-1 mb-1"> ثبت نام</h3>
              <p class="text-right">حساب کاربری دارید؟ <a href="{% url 'account:login' %}"> وارد شوید.</a></p>
            <form class="needs-validation" method="post" novalidate>{% csrf_token %}
              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-fn">ایمیل</label>
                      {% render_field form.email class="form-control" type="email" required="required" placeholder="exampl@example.com"%}
                      {% for error in form.email.errors %}
                        <div class="mt-2 text-danger">{{error}}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-ln">شماره موبایل</label>
                      {% render_field form.phone class="form-control" required="required" placeholder="۰۹۱۸۱۱۱۱۲۱۲"%}
                      {% for error in form.phone.errors %}
                        <div class="mt-2 text-danger">{{error}}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-password">رمز عبور</label>
                      {% render_field form.password1 class="form-control" type="password" required="required" placeholder="رمز عبور خود را وارد کنید"%}
                      {% for error in form.password1.errors %}
                        <div class="mt-2 text-danger">{{error}}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-password-confirm">تایید رمز عبور</label>
                      {% render_field form.password2 class="form-control" type="password" required="required" placeholder="رمز عبور خود را تائید کنید"%}
                      {% for error in form.password2.errors %}
                        <div class="mt-2 text-danger">{{error}}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              <div class="text-left">
                <button class="btn btn-primary" type="submit">ثبت نام</button>
              </div >
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}