{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="container mb-3 mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="col-md-12 text-center alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      <div class="row justify-content-center">
          <div class="col-md-6 pb-5">
            <h3 class="h4 pb-1 mb-1"> ورود</h3>
              <p class="text-right">حساب کاربری ندارید؟ <a href="{% url 'account:sign-up' %}"> ثبت نام کنید.</a></p>
            <form class="needs-validation" method="post" novalidate>{% csrf_token %}
              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-fn">ایمیل یا شماره موبایل</label>
                      {% render_field form.email_or_phone class="form-control" type="email" required="required" placeholder="ایمیل یا شماره موبایل خود را وارد کنید"%}
                        {% for error in form.email_or_phone.errors %}
                            <div class="mt-2 text-danger">{{error}}</div>
                        {% endfor %}
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="reg-password">رمز عبور</label>
                      {% render_field form.password class="form-control" type="password" required="required" placeholder="رمز عبور خود را وارد کنید"%}
                        {% for error in form.password.errors %}
                            <div class="mt-2 text-danger">{{error}}</div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              <div class="text-left">
                <button class="btn btn-primary" type="submit">ورود</button>
                <p class="text-right"><a href="{% url 'account:password_reset' %}">رمز خود را فراموش کرده‌اید‌؟</a></p>
              </div >
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}