<!-- Footer-->
<footer class="bg-dark pt-5">
    <!-- First Row-->
    <div class="container pt-2">
      <div class="row">
        <!-- Shop Departments-->
        <div class="col-lg-6">
          <div class="widget widget-light-skin mb-0">
            <h4 class="widget-title">فروشگاه ها</h4>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="widget widget-categories widget-light-skin">
                <ul>
                  <li><a href="#">کامپیوترها و لوازم جانبی</a></li>
                  <li><a href="#">گوشی های هوشمند و تبلت</a></li>
                  <li><a href="#">تلویزیون، ویدئو و صوتی</a></li>
                  <li><a href="#">دوربین ها، عکس و ویدئو</a></li>
                  <li><a href="#">هدفون</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget widget-categories widget-light-skin">
                <ul>
                  <li><a href="#">چاپگر ها</a></li>
                  <li><a href="#">بازی های ویدئویی</a></li>
                  <li><a href="#">لوازم الکترونیکی</a></li>
                  <li><a href="#">ابزارهای موسیقی</a></li>
                  <li><a href="#">نرم‌افزار</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- About Links-->
        <div class="col-lg-3 col-sm-6">
          <div class="widget widget-categories widget-light-skin">
            <h4 class="widget-title">درباره ما</h4>
            <ul>
              <li><a href="#">شغل</a></li>
              <li><a href="#">درباره CreateX</a></li>
              <li><a href="#">داستان ما</a></li>
              <li><a href="#">خدمات ما</a></li>
              <li><a href="#">وبلاگ ما</a></li>
              <li><a href="#">تماس با ما</a></li>
            </ul>
          </div>
        </div>
        <!-- Account Links-->
        <div class="col-lg-3 col-sm-6">
          <div class="widget widget-categories widget-light-skin">
            <h4 class="widget-title">حساب و اطلاعات حمل و نقل</h4>
            <ul>
              <li><a href="#">حساب من</a></li>
              <li><a href="#">هزینه حمل و نقل و سیاست</a></li>
              <li><a href="#">بازپرداخت و جایگزینی</a></li>
              <li><a href="#">مالیات</a></li>
              <li><a href="#">اطلاعات تحویل</a></li>
              <li><a href="#">برنامه های وابسته</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Row-->
    <div class="pt-5" style="background-color: #30363d;">
      <div class="container">
        <div class="row">
          <!-- Contacts-->
          <div class="col-lg-3 col-sm-6">
            <div class="widget widget-contacts widget-light-skin mb-4">
              <h4 class="widget-title">با ما در تماس باشید</h4>
              <ul>
                <li><i class="fe-icon-map-pin"></i><span>ما رو پیدا کن</span><a href="#">ایران - تهران</a></li>
                <li><i class="fe-icon-phone"></i><span>با ما تماس بگیرید</span><a href="tel:02111111111">۰۲۱-۱۱۱۱۱۱۱۱</a></li>
                <li><i class="fe-icon-mail"></i><span>ایمیل</span><a href="mailto:info@example.com">info@example.com</a></li>
              </ul>
            </div>
            <div class="widget pt-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-pinterest"></i></a></div>
          </div>
          <!-- Mobile App-->
          <div class="col-lg-3 col-sm-6">
            <div class="widget widget-light-skin">
              <h4 class="widget-title">برنامه موبایل ما</h4><a class="market-btn apple-btn market-btn-light-skin ml-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-btn google-btn market-btn-light-skin ml-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-btn windows-btn market-btn-light-skin ml-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a><a class="market-btn amazon-btn market-btn-light-skin ml-3 mb-3" href="#"><span class="mb-subtitle">Order now at</span><span class="mb-title">Amazon.com</span></a>
            </div>
          </div>
          <!-- Subscription-->
          <div class="col-lg-6">
            <div class="widget widget-light-skin">
              <h4 class="widget-title">خبرنامه</h4>
              <form action="" method="post" target="_blank" novalidate>
                <div class="input-group">
                  <input class="form-control form-control-light-skin text-left placeholder-right" type="email" name="EMAIL" placeholder="آدرس ایمیل">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">ثبت نام</button>
                  </div>
                </div><small class="form-text text-white opacity-50 pt-1">برای دریافت آخرین بروز رسانی ها و محصولات جدید ایمیل خود را وارد نمایید.</small>
              </form>
              <div class="pt-4 mt-2"><img class="d-block" src="img/credit-cards-footer.png" style="width: 324px;" alt="Credit Cards"></div>
            </div>
          </div>
        </div>
        <hr class="hr-light">
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
          <div class="order-2"><a class="footer-link text-white" href="#">درباره ما</a><a class="footer-link text-white mr-3" href="#">کمک و اطلاعات</a><a class="footer-link text-white mr-3" href="#">حریم خصوصی</a></div>
          <p class="m-0 text-sm text-white order-1"><span class='opacity-60'>همه حقوق محفوظ است.© ساخته شده با</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='https://www.rtl-theme.com/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>راستچین</a></p>
        </div>
      </div>
    </div>
  </footer>