{% load static %}

<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.min.js' %}"></script>
<script src="{% static 'js/vendor/iziToast.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>