{% load static %}

<!-- Vendor Styles including: Font Icons, Plugins, etc.-->
<link rel="stylesheet" href="{% static 'css/vendor/feather.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/iziToast.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/noUISlider.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/socicon.css' %}">
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" href="{% static 'css/theme.css' %}">
<!-- Modernizr-->
<script src="{% static 'js/modernizr.min.js' %}"></script>