{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper">
      <!-- Off-Canvas Menu-->
      

      <!-- Navbar: Default-->
      <!-- Page Content-->
      <!-- Featured Categories-->
      <section class="container-fluid pt-30">
        <div class="row">
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5> کامپیوتر و لوازم جانبی</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-primary btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="{% static 'img/shop/categories/01.jpg' %}" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/02.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/03.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5>تلویزیون، ویدئو و صوتی</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-accent btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="{% static 'img/shop/categories/07.jpg' %}" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/08.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/09.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5>گوشی های هوشمند و تبلت</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-warning btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="img/shop/categories/04.jpg" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/05.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/06.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5>دوربین ها، عکس و ویدئو</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-info btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="{% static 'img/shop/categories/10.jpg' %}" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/11.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/12.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5>بازی های ویدئویی</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-success btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="{% static 'img/shop/categories/22.jpg' %}" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/23.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/24.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
          <div class="col-lg-6 mb-30"><a class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center bg-white p-4 p-xl-5 text-decoration-none box-shadow border" href="shop-boxed-ls.html">
              <div class="py-3 px-md-4 order-2 order-sm-1 text-center text-sm-right mx-auto mx-sm-0">
                <h5>چاپگر ها</h5>
                <p class="text-muted pb-3">شروع از <strong>۳,۵۰۰,۰۰۰ تومان</strong></p><span class="btn btn-style-5 btn-danger btn-sm">مشاهده محصولات&nbsp;<i class="fe-icon-arrow-right"></i></span>
              </div>
              <div class="product-category-card bg-white order-1 order-sm-2">
                <div class="product-category-card-thumb box-shadow-none">
                  <div class="main-img"><img src="{% static 'img/shop/categories/19.jpg' %}" alt="Shop Category"/>
                  </div>
                  <div class="thumblist"><img src="{% static 'img/shop/categories/20.jpg' %}" alt="Shop Category"/><img src="{% static 'img/shop/categories/21.jpg' %}" alt="Shop Category"/>
                  </div>
                </div>
              </div></a></div>
        </div>
      </section>
      <!-- Featured Products-->
      <section class="container py-5 mb-4">
        <h2 class="h4 block-title text-center pt-3">محصولات ویژه</h2>
        <div class="row pt-4">
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head d-flex justify-content-between align-items-center"><span class="badge badge-danger">پر فروش</span>
                <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/01.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">اسپیکر(بلندگو)</a>
                <h5 class="product-title"><a href="shop-single.html">دستیار صوتی آمازون</a></h5><span class="product-price">
                  ۷۵۸,۰۰۰<del>۸۱۵,۰۰۰</del> تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head text-right">
                <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i><i class="fe-icon-star"></i>
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/11.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">هدفون</a>
                <h5 class="product-title"><a href="shop-single.html">هدفون Edifier W855BT</a></h5><span class="product-price">۴,۱۸۹,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head"><span class="badge badge-secondary">تمام شده</span></div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/03.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">کامپیوتر, لپ تاپ</a>
                <h5 class="product-title"><a href="shop-single.html">تبلت Microsoft Surface Pro 4</a></h5><span class="product-price text-muted">۶,۵۴۰,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head text-right">
                <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/09.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">دوربین</a>
                <h5 class="product-title"><a href="shop-single.html">دوربین 360 درجه سامسونگ</a></h5><span class="product-price">۸۸۰,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head text-right">
                <div class="rating-stars">
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/04.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">گوشی های هوشمند</a>
                <h5 class="product-title"><a href="shop-single.html">Apple iPhone X 64GB Space Gray</a></h5><span class="product-price">۱۵,۳۹۰,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head d-flex justify-content-between align-items-center"><span class="badge badge-success">محبوب</span>
                <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i>
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/06.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">کنسول بازی</a>
                <h5 class="product-title"><a href="shop-single.html">کنسول بازی مایکروسافت</a></h5><span class="product-price">۲,۸۱۳,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head text-right">
                <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                </div>
              </div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/08.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">تلویزیون، ویدئو و صوتی</a>
                <h5 class="product-title"><a href="shop-single.html">تلویزیون Sony 55-Inch 4K</a></h5><span class="product-price">۱۲,۵۰۰,۰۰۰ تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
            <div class="product-card mx-auto mb-3">
              <div class="product-head"><span class="badge badge-danger">پر فروش</span></div><a class="product-thumb" href="shop-single.html"><img src="{% static 'img/shop/10.jpg' %}" alt="Product Thumbnail"/></a>
              <div class="product-card-body"><a class="product-meta" href="shop-categories.html">چاپگرها</a>
                <h5 class="product-title"><a href="shop-single.html">Hewlett-Packard</a></h5><span class="product-price">
                  ۷۵۸,۰۰۰<del>۸۱۵,۰۰۰</del> تومان</span>
              </div>
              <div class="product-buttons-wrap">
                <div class="product-buttons">
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به علاقمندی اضافه شد!"><i class="fe-icon-heart"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="محصول" data-toast-message="به جدول مقایسه اضافه شد!"><i class="fe-icon-repeat"></i></a></div>
                  <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="محصول" data-toast-message="با موفقیت به سبد خرید اضافه شد!"><i class="fe-icon-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center pt-3"><a class="btn btn-style-5 btn-primary" href="shop-boxed-ls.html">مشاهده تمام محصولات</a></div>
      </section>
      <!-- Product Widgets-->
      <section class="container pb-4 mb-2">
        <div class="row">
          <!-- Top Sellers-->
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-featured-products">
              <h3 class="widget-title">فروشندگان برتر</h3><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/04.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Nyko Grip for Nintendo Switch</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">
                    ۷۵۸,۰۰۰&nbsp;<del>۸۱۵,۰۰۰</del> تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/02.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Zeus Bluetooth Earbuds</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">۱۲۱,۷۰۰ تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/03.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">کنسول بازی مایکروسافت</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">۲,۸۱۳,۰۰۰ تومان</span>
                </div></a>
            </div>
          </div>
          <!-- New Arrivals-->
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-featured-products">
              <h3 class="widget-title">تازه رسیده ها</h3><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/06.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Aberg Best 21 MP Camera</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">۵۶۷,۰۰۰ تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/05.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Samsung Galaxy S9 Plus 128GB</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">۱۰,۰۰۰,۰۰۰ تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/07.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Apple Watch Series 3 Rose Gold</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                  </div><span class="featured-product-price">۱,۳۸۳,۴۰۰ تومان</span>
                </div></a>
            </div>
          </div>
          <!-- Best Rated-->
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-featured-products">
              <h3 class="widget-title">بهترین امتیاز</h3><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/01.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">دستیار صوتی آمازون</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i>
                  </div><span class="featured-product-price">
                    ۷۵۸,۰۰۰&nbsp;<del>۸۱۵,۰۰۰</del> تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/09.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">هدفون Edifier W855BT</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i>
                  </div><span class="featured-product-price">۴,۱۸۹,۰۰۰ تومان</span>
                </div></a><a class="featured-product" href="shop-single.html">
                <div class="featured-product-thumb"><img src="{% static 'img/widgets/shop/08.jpg' %}" alt="Product Image"/>
                </div>
                <div class="featured-product-info">
                  <h5 class="featured-product-title">Apple iPhone X 64GB Space Gray</h5>
                  <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i>
                  </div><span class="featured-product-price">۱۵,۳۹۰,۰۰۰ تومان</span>
                </div></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Popular Brands-->
      <section class="bg-secondary pt-5 pb-4">
        <div class="container pt-3 pb-2">
          <h2 class="h4 block-title text-center">برند های محبوب</h2>
          <div class="owl-carousel carousel-flush pt-3" data-owl-carousel="{ &quot;rtl&quot;: true, &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 3500, &quot;loop&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;360&quot;:{&quot;items&quot;:2},&quot;600&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/10.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/11.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/14.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/13.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/12.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/15.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/16.png' %}" style="width: 165px;" alt="Partner"></a>
          <a class="d-block bg-white box-shadow py-4 py-sm-5 px-2 mb-30" href="#"><img class="d-block mx-auto" src="{% static 'img/partners/17.png' %}" style="width: 165px;" alt="Partner"></a></div>
        </div>
      </section>
      <!-- Shop Services-->
      <section class="container py-5">
        <div class="row pt-3">
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="mx-auto mb-4" src="{% static 'img/shop/services/01.png' %}" width="90" alt="Free Worldwide Shipping">
            <h3 class="text-lg mb-2 text-body">حمل و نقل رایگان در سراسر جهان</h3>
            <p class="text-sm text-muted mb-0">حمل و نقل رایگان برای تمام سفارشات بیشتر از 100 دلار</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="mx-auto mb-4" src="{% static 'img/shop/services/02.png' %}" width="90" alt="Money Back Guarantee">
            <h3 class="text-lg mb-2 text-body">تضمین بازگشت پول</h3>
            <p class="text-sm text-muted mb-0">ما پول را در عرض ۳۰ روز برمی گردانیم.</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="mx-auto mb-4" src="{% static 'img/shop/services/03.png' %}" width="90" alt="24/7 Customer Support">
            <h3 class="text-lg mb-2 text-body">پشتیبانی مشتری 24/7</h3>
            <p class="text-sm text-muted mb-0">پشتیبانی دوستانه</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="mx-auto mb-4" src="{% static 'img/shop/services/04.png' %}" width="90" alt="Secure Online Payment">
            <h3 class="text-lg mb-2 text-body">پرداخت آنلاین ایمن</h3>
            <p class="text-sm text-muted mb-0">ما دارای گواهی SSL / Secure هستیم</p>
          </div>
        </div>
      </section>
    </div>
{% endblock content %}
